# IntelliJ configuration
.idea/

# VSCode configuration
.vscode/

# macOS files
.DS_Store

# Collected static files
static_files/

# User loaded media files
media_files/

# Personal files of users
personal_files/

# Web server logs
web_server_logs/

# Certificates for remote services
certificates/
