[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
ipython = "*"
pipdeptree = "*"

[packages]
inflection = "*"
pyyaml = "*"
celery = "*"
firebase-admin = "*"
psycopg2-binary = "*"
pillow = "*"
gunicorn = "*"
channels = "*"
channels-redis = "*"
djangorestframework = "*"
markdown = "*"
django-crispy-forms = "*"
django-filter = "*"
django-guardian = "*"
djangorestframework-camel-case = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-countries = "*"
django-mptt = "*"
django-permanent = "*"
django-redis = "*"
django-tinymce4-lite = "*"
swapper = "*"
weasyprint = "*"
python-memcached = "*"
django-celery-results = "*"
user-agents = "*"
django-oauth-toolkit = "*"
pydash = "*"
sentry-sdk = "*"
numpy = "*"
pandas = "*"
pdf2image = "*"
rstr = "*"
qrcode = "*"

[requires]
python_version = "3.10"

[packages.django]
extras = [ "argon2",]
version = "*"

[packages.twisted]
extras = [ "http2", "tls",]
version = "*"
