{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block error_title %}Login{% endblock %}

{% block box_content %}
    <h1 data-tooltip="Bye Felicia">Log out</h1>
    <p>You'll be back <em>in no time.</em></p>
    <div class="ui divider"></div>

    {% if errors %}
        <div class="ui message">
            {{ errors }}
        </div>
    {% endif %}
    {% if data %}
        <div class="ui success message">
            <p>Logged out successfully!</p>
        </div>
        <a class="ui basic button" href="{% url 'session_auth:login' %}">
            Login
        </a>
    {% endif %}
{% endblock %}