# Compiled .pyc files
__pycache__/

# Ignore apps ...
apps/*
# ... but commit the README.md file so that the folder gets created
!apps/README.md

# Ignore services ...
services/*
# ... but commit the README.md file so that the folder gets created
!services/README.md

# Ignore Formula 1
formula_one/

# Ignore shell
shell/