{% extends 'base.html' %}

{% block title %}404 Not Found{% endblock %}

{% block error_title %}404 Not found{% endblock %}

{% block box_content %}
    <h1>404: Not found</h1>
    <p>Now that <em>could be</em> our fault.</p>
    <div class="ui divider"></div>
    <i class="frown outline huge icon"></i>
    <p></p>
    <p>
        This is as embarrassing for us as it is confusing for
        you.<br>
        We're already working on it.
    </p>
    <button class="ui basic button" onclick="window.history.back();">
        Go back?
    </button>
{% endblock %}