{% extends 'base.html' %}

{% block title %}500: Server error{% endblock %}

{% block error_title %}500: Server error{% endblock %}

{% block box_content %}
    <h1 data-tooltip="500: Server error">500: I II II L</h1>
    <p>Now that <em>is most certainly</em> our fault.</p>
    <div class="ui divider"></div>
    <i class="frown outline huge icon"></i>
    <p></p>
    <p>
        This is as embarrassing for us as it is confusing for you. We've been
        notified and are already working on it.
    </p>
    <p>
        If you think an invalid input of yours caused this, please hit yourself,
        go back and redo whatever you were doing, correctly this time.
    </p>
{% endblock %}