{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>
        {% block title %}{% endblock %}: {{ site.nomenclature.verbose_name }}
    </title>

    <link rel="stylesheet" href="{% static 'semantic-ui/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'omniport/css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'omniport/css/styling.css' %}">

    <script src="{% static 'jquery/jquery.min.js' %}" defer></script>
    <script src="{% static 'semantic-ui/semantic.min.js' %}" defer></script>

    <link rel="icon" href="{{ site.imagery.favicon }}">
</head>
<body>
<header class="ui top attached segment">
    <div class="ui container" id="title-bar">
        <div id="portal-logo">
            <a href="{% url 'home' %}">
                {% if site.imagery.wordmark %}
                    <img src="{{ site.imagery.wordmark }}"
                         class="title-bar-logo">
                {% else %}
                    <h1>{{ site.nomenclature.verbose_name }}</h1>
                {% endif %}
            </a>
        </div>
        <div id="institute-logo">
            <a href="{{ institute.text.home_page }}">
                {% if institute.imagery.wordmark %}
                    <img src="{{ institute.imagery.wordmark }}"
                         class="title-bar-logo">
                {% else %}
                    <h1>{{ institute.text.name }}</h1>
                {% endif %}
            </a>
        </div>
    </div>
</header>

<main>
    <div class="ui centered container grid">
        <div class="ui center aligned segment">
            {% block box_content %}{% endblock %}
        </div>
    </div>
</main>

<footer class="ui bottom attached segment">
    <div class="ui container" id="end-bar">
        <div>
            &copy; {% now 'Y' %}
        </div>
        <a href="{{ maintainers.text.home_page }}">
            {% if maintainers.imagery.logo %}
                <img src="{{ maintainers.imagery.logo }}"
                     id="maintainers-logo">
            {% else %}
                &nbsp;
            {% endif %}
            {{ maintainers.text.name }}
        </a>
    </div>
</footer>
</body>
</html>