{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>
        {% block title %}{% endblock %}: {{ SITE_VERBOSE_NAME }}
    </title>

    <link rel="stylesheet" href="{% static 'semantic-ui/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'omniport/css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'omniport/css/styling.css' %}">

    <script src="{% static 'jquery/jquery.min.js' %}" defer></script>
    <script src="{% static 'semantic-ui/semantic.min.js' %}" defer></script>

    <link rel="icon" href="{{ SITE_FAVICON }}">
</head>
<body>
<header class="ui top attached segment">
    <div class="ui container" id="title-bar">
        <div id="portal-logo">
            <a href="{% url 'home' %}">
                <img src="{{ SITE_LOGO }}" class="title-bar-logo">
            </a>
        </div>
        <div id="site-name">
            {% block site_name %}{% endblock %}
        </div>
        <div id="institute">
            {% block institute %}{% endblock %}
        </div>
        <div id="institute-logo">
            <a href="{{ INSTITUTE_HOME_PAGE }}">
                <img src="{{ INSTITUTE_LOGO }}" class="title-bar-logo">
            </a>
        </div>
    </div>
</header>

<main>
    <div class="ui centered container grid">
        <div class="ui center aligned segment">
            {% block box_content %}{% endblock %}
        </div>
    </div>
</main>

<footer class="ui bottom attached segment">
    <div class="ui container" id="end-bar">
        <div>
            Copyright &copy; {% now 'Y' %}
        </div>
        <a href="{{ MAINTAINERS_HOME_PAGE }}">
            <img src="{{ MAINTAINERS_LOGO }}" id="maintainers-logo">
        </a>
        <div>
            {{ MAINTAINERS_NAME }}
        </div>
    </div>
</footer>
</body>
</html>