{% extends 'base.html' %}

{% block title %}Routine maintenance{% endblock %}

{% block box_content %}
    <h1>Routine maintenance</h1>
    <p>Prevention is better than cure.</p>
    <div class="ui divider"></div>
    <i class="huge icons">
        <i class="big red dont icon"></i>
        <i class="bug icon"></i>
    </i>
    <p></p>
    <p>
        We are just running routine maintenance and will be back shortly. We
        thank you for your patience.
    </p>
    <p>
        While we deeply regret any inconvenience this may have caused, you do
        understand the importance of periodic housekeeping.
    </p>
{% endblock %}